@font-face {
    font-family: monofur;
    src: url("/fonts/monofur/Monofur.woff2");
}

@media screen and (max-width: 500px) {
    .preamble {
        display: flex;
    }
}

body {
    max-width: 80%;
    margin: auto;
    background-color: #21140a;
    /* fonts */
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ab8151;
    /* color: #222222; */

}
body a:visited {
    color: #a99e90;
}
body a:link {
    color: #ffffff;
}

/*h1, h2, h3, h4 {
    color: #ab8151;
}*/
h1 a:visited, h1 a:link, h2 a:visited, h2 a:link, h3 a:visited, h3 a:link, h4 a:visited, h4 a:link {
    color: #ab8151;
    text-decoration: none;
    font-style: normal;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    font-style: italic;
}

h1 a:hover:before, h2 a:hover:before, h3 a:hover:before, h4 a:hover:before, .footnotes:hover:before {
  content: "~";
	text-decoration: underline;
	font-size: 130%;
	font-style: normal;
	padding: 5px;
	color: #4881fF;
}

h1 a:active, h2 a:active, h3 a:active, h4 a:active {
    color: #B25756;
}

.preamble {
    /* background: #330000; */
    background : #c0352d;
    color: #ffffff;
    padding: 12px;
    margin: auto;
    margin-top: 2%;
    border-radius: 14px;
    display: inline-block;
    width: 100%;
    font-family: monofur;
    font-size: 115%;
    /* border: 1px solid red; */
}
.preamble a:link {
    color: #ffffff;
    text-decoration: none;
}
.preamble a:visited {
    color: #ffffff;
    text-decoration: none;
    /* color: #a99e90; */
}
.preamble a:hover {
    color: #00ffff;
    text-decoration: none;
}
.preamble a:active {
    /* text-decoration: none; */
}

.homepage {
  float: left;
}
.langs {
  float: right;
}

.footerCopy {
    /* background: #aeaeae;*/
    /* font-family: Arial; */
    /* color: #222222; */
    /* color: #23272F; */
    /* color: #160427; */
    color: #aab2ab;
    margin: 10px;
    text-align: center;
    /* padding: 10px; */
}
.footerCopy a:visited, .footerCopy a:link {
    /* color: #a99e90; */
    /* color: #23272F; */
    /* color: #160427; */
    color: #aab2ab;

}
.footerCopy img {
    width: 12%;
    max-width: 300px;
    text-align: center;
    margin: 10px;
}

img {
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    /* height:100%; */
}

.subtitle {
    font-family: serif, sans-serif;
    text-align: left;
    float: right;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    margin-top: 0;
}

.example {
    background : #a99e90;
    color : black;
}

code {
    font-size: 110%;
    margin: 1.5px;

}

blockquote p {
    font-family: 'Special Elite', cursive;
    color: #3a3F44;
    border-left: 1rem solid #B25756;
    background-color: #1a121a;
    padding: 0.5rem;
}
